@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body {
    background-image: url("https://media.discordapp.net/attachments/735337252347052105/1047781873398591571/f0d0353e3fadc4b790e252a6638f02e1.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
    color: white;
}

.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

.header {
    font-family: 'Quicksand', sans-serif;
    font-size: 5em;
    letter-spacing: 1.5px;
    padding: 0;
    margin: 0;
    color: black;
}
h2 , h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.5cm;
    letter-spacing: 1.5px;
    text-align: center;
    color: white;
}
  
ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #29b0b4;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #9dd8f0;
}

ul li a:hover {
  color: #fffc2e;
  box-shadow: 0 0 5px #9cf8a8;
  text-shadow: 0 0 5px #97f8a4;
}
